body{
  background:#F2F2F5;
}
.condition-banner{
  width:100%;
  height:427px;
  background:url("../img/condition.png")no-repeat center center;
  background-size:cover;
}
.condition-banner img{
  width:100%;
}
.condition-content-box{
  width:1200px;
  margin:-232px auto 0;
}
.condition-title{
  font-size:48px;
  color:#fff;
}
.condition-title span{
  font-size:24px;
  padding:25px 0 0 29px;
}
.condition-content{
  width:100%;
  height:auto;
  margin-top:29px;
  /*overflow:hidden;*/
} 
.condition-left{
  width:174px;
  float:left;
  margin-right:38px;
}
.condition-left-list1{
  width:100%;
  padding-top:12px;
  font-size:;
  background:#fff;
}
.condition-left-branch{
  width:100%;
  height:44px;
  text-align:center;
  line-height:44px;
  font-size:14px;
  color:#999;
  cursor:pointer;
}
.condition-left-branch-active{
  color:#fff;
  background:#4A90E2;
}
.condition-list-icon1{
  width:12px;
  display:inline-block;
}
.condition-left-branch div{
  margin:0 28px 0 10px;
  display:inline-block;
}
.condition-list-icon2{
  width:14px;
  display:inline-block;
}
.condition-left-list2{
  width:100%;
  padding:16px 0;
  margin-top:14px;
  font-size:14px;
  color:#424E5C;
  font-weight:bold;
  background:#fff;
}
.condition-left-branch2{
  text-align:center;
  cursor:pointer;
}
.condition-left-branch2 div{
  display:inline-block;
}
.condition-left-branch2-special{
  display:block;
  margin:6px auto 18px;
  color:#999;
  font-weight:normal;
}
.condition-right{
  width:988px;
  margin-top:12px;
  float:left;
  background:#F8F9FB;
  position:relative;
}
.condition-right-triangle{
  width:0;
  height:0;
  border-top:14px solid transparent;
  border-right:16px solid #F8F9FB;
  border-bottom:14px solid transparent;
  position:absolute;
  left:-15px;
  top:6px;
}
.condition-person{
  width:100%;
  padding:50px 0 58px;
  font-size:14px;
  color:#424E5C;
}
.condition-person-photo{
  margin-bottom:47px;
}
.condition-person-photo img{
  width:125px;
  display:inline-block;
  vertical-align:middle;
}
.condition-person-photo span{
  display:inline-block;
  vertical-align:middle;
  margin-right:7px;
  margin-left:226px;
}
input, button, select, textarea{
  display:inline-block;
  outline: none;
  -webkit-appearance: none;
  font-size:12px;
  color:#424E5C;
  background:#fff;
  border:1px solid #D8D8D8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999999;  
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:#999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:#999999;
}
.condition-person-file-box{
  float:left;
  width:78px;
  height:26px;
  text-align:center;
  line-height:26px;
  font-size:12px;
  color:#424E5C;
  background:#fff;
  border:1px solid #D8D8D8;
  border-radius:15px;
  position:relative;
}
.condition-person-file{
  display:block;
  width:100%;
  height:100%;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
}
.condition-note-icon{
  display:inline-block;
  vertical-align: middle;
  width:17px;
  margin-left:7px;
  position:relative;
}
.condition-note-triangle{
  width:0;
  height:0;
  border-top:9px solid transparent;
  border-right:16px solid #fff;
  border-bottom:9px solid transparent;
  position:absolute;
  right:-19px;
  top:2px;
}
.condition-note-content{
  width:298px;
  font-size:18px;
  color:#999;
  line-height:25px;
  padding:16px 14px 51px 18px;
  background:#fff;
  position:absolute;
  right:-316px;
  top:0px;
}
.condition-person-branch1{
  margin:0 0 16px 253px;
}
.condition-person-explain{
  display:inline-block;
  margin-right:7px;
}
.condition-person-name{
  width:154px;
  height:30px;
  text-indent:10px;
}
.condition-person-card{
  width:192px;
  height:30px;
  text-indent:10px;
}
.condition-person-branch2{
  margin:0 0 16px 253px;
}
.condition-person-sex,.condition-person-marry{
  display:inline-block;
  width:70px;
  height:30px;
  text-align:center;
  line-height:30px;
  border:1px solid #D8D8D8;
  background:#fff;
  cursor:pointer;
}
.condition-person-sex-sepcial,.condition-person-marry-sepcial{
  color:#4A90E2;
  border:1px solid #4A90E2;
}
.condition-person-email{
  width:192px;
  height:30px;
  text-indent:10px;
}
.condition-person-branch3{
  margin:0 0 50px 239px;
}
.condition-person-phone{
  width:154px;
  height:30px;
  text-indent:10px;
}
.condition-person-branch4{
  margin:0 0 16px 225px;
}
.condition-person-date{
  width:192px;
  height:30px;
}
.condition-person-branch5{
  margin:0 0 55px 239px;
}
.condition-person-place{
  width:278px;
  height:30px;
  text-indent:10px;
}
.condition-person-branch6{
  margin:0 0 16px 211px;
}
.condition-person-emergency-name,.condition-person-emergency-phone{
  width:192px;
  height:30px;
  text-indent:10px;
}
.condition-person-branch7{
  margin:0 0 125px 183px;
}
.condition-person-branch8{
  margin:0 0 0 336px;
}
.condition-person-btn1{
  display:inline-block;
  width:136px;
  height:59px;
  text-align:center;
  line-height: 59px;
  font-size:18px;
  color:#4A90E2;
  margin-right:204px;
  background:#fff;
  border:1px solid #4A90E2;
  border-radius:30px;
  cursor:pointer;
}
.condition-person-btn2{
  display:inline-block;
  width:205px;
  height:59px;
  text-align:center;
  line-height: 59px;
  font-size:18px;
  color:#fff;
  background:#4A90E2;
  border:1px solid #4A90E2;
  border-radius:30px;
  cursor:pointer;
}